doctype
html
    head
        title tyler.lane.codes
        link(rel="stylesheet" type="text/css" href="css/custom.css")
    body
        h1 Hello, world!
        a(href="/Tyler_Lane_Resume.pdf") Resume
        br
        a(href="/blog/") Blog

        script.
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-58605073-1', 'auto');
          ga('send', 'pageview');
