doctype
html
    head
        title tyler.lane.codes
        link(rel="stylesheet" type="text/css" href="css/custom.css")
    body
        h1 Hello, world!
        a(href="/Tyler_Lane_Resume.pdf") Resume