body {
    background-color: #5E7BA7;

    font-family: "Impact", Impact, serif;
    font-size: 3em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
}

h1 {
    font-size: 5em;
    color: black;
    margin: 0;
    text-align: center;

}

a {
    color: #F9F9F3;
}